<h1>Vos recettes favorites</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= recipe.name %></li>
  <% end %>
</ul>
<%= link_to 'Ajouter un Ingrédient', new_ingredient_path(current_user) %>
<%= link_to 'frigo', index_path(current_user) %>
<%= link_to 'Mes Recettes Faciles', my_easy_recipes_user_path(current_user) %>
