

<div class="container">
  <div class="action-cards">
   <%= link_to new_ingredient_path(current_user) do %>
      <div class="ingredient-card">
        <i class="fa-solid fa-plus"></i>
        <h3>favorites recipes</h3>
      </div>
    <%end%>
    <%= link_to new_ingredient_path(current_user) do %>
      <div class="ingredient-card">
        <i class="fa-solid fa-plus"></i>
        <h3>Add New Ingredients</h3>
      </div>
    <%end%>
<%= link_to ingredients_path do %>
      <div class="ingredient-card link">
        <i class="fa-solid fa-chart-bar"></i>
        <h3>Frigo</h3>
      </div>
    <%end%>


 <%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>
</div>
