
.bg-image {
  font-family: 'Arial', sans-serif;
  background-image: url('homepage-picture.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Set text color to contrast with the background */

  }


.logo {
  font-size: 2em;
  margin-bottom: 10px;
  img {
    width: 225px;
  }
}
.description {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  padding: 10px 20px;
  background-color: #3498db; /* Set your desired background color */
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}
.btn-primary{
  border-radius: 15px;
}
body{
  & > .add-margin:not(.hidden-nav){
    margin-bottom: 100px;
  }
}
.carousel {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-top: 100px;
  img {
    width: 100%;
    height: 250px;
  }
}
.responsive {
  margin-top: -50px;
}

@media (min-width: 768px) and (max-height: 450px) {
  .logo img {
    width: 80px;
    height: auto;
  }
  .responsive {
    display: flex;
    margin-top: -45px;
    .description {
      align-self: center;
    }
  }
  .carousel {
    margin-top: 0px;
    width: auto;
    img {
      width: auto;
    }
  }
}
