<div class="container mb-5">

<h1 class='fontfamily mt-2'>Cookbook</h1>

 <div class="recipes">
    <% @recipes.each do |recipe| %>
      <div class="recipe d-flex flex-column">
        <img src=<%= recipe.image %> alt="image">
        <h3 class="fontfamily"><%= recipe.name %></h3>
      </div>
    <% end %>
  </div>
</div>
