
<h1 style='fontfamily: Pacifico;'>Recipe Results</h1>

<% if @recipes.present? %>
  <div class="recipes">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <h2><%= recipe["title"] %></h2>
        <%= image_tag recipe["image"], alt: recipe["title"] %>
        <%= link_to recipe["title"], recipe_path(recipe["id"]) %>

      </div>
    <% end %>
  </div>
<% else %>
  <p style="font-family: Pacifico;">No recipes found.</p>
<% end %>
