<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container-fluid">
    <p id="text-logo">Kouakou'ziner ?</p>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "Logo brocolie" %>
    <% end %>
  </div>
</div>
