<div class="container mb-5">
  <h1 class='fontfamily'>Frigoooo</h1>
  <div class="row justify-content-center">
    <div data-controller='search-ingredients' class="my-3">
      <%= form_with url: ingredients_path, method: :get, class: "d-flex mb-3", data: { search_ingredients_target: 'form' } do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search an ingredient",
          data: { action: 'keyup->search-ingredients#update', search_ingredients_target: 'input' }
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-green" %>
      <% end %>
      <%= render 'list', ingredients: @ingredients %>
    </div>
  </div>
</div>
