<div class="bg-image hidden-nav">
  <div class="text-center responsive container">
    <div class="logo">
      <%= image_tag 'logo-light.png' %>
    </div>
    <div class="description">What can I cook with my ingredients ?</div>
  </div>
</div>
