<div class="bg-image hidden-nav">
  <div class="text-center responsive container">
    <div class="logo">
      <%= image_tag 'logo-light.png' %>
    </div>
    <div class="description">What can I cook with my ingredients ?</div>
  </div>

  </div>
  <div class="button-container">
    <%#= link_to "Create New Account", new_user_registration_path, class: 'btn btn-primary'%>
    <%#= link_to "Login", new_user_session_path, class:'btn btn-secondary'%>
    <%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    <%#= current_user %>
  </div>
</div>
