<div class="bg-image hidden-nav">
  <div class="text-center responsive">
    <div class="logo">
      <%= image_tag 'logo' %>
    </div>
    <div class="description">What can I cook with my ingredients ?</div>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'recette1', class: 'd-block w-100' %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Maybe this delicious recipe</h5>
          <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'recette2', class: 'd-block w-100' %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Or that dish ?</h5>
          <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'recette3', class: 'd-block w-100' %>
        <div class="carousel-caption d-none d-md-block">
          <h5>Why not this one ?</h5>
          <p>...</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="button-container">
    <%#= link_to "Create New Account", new_user_registration_path, class: 'btn btn-primary'%>
    <%#= link_to "Login", new_user_session_path, class:'btn btn-secondary'%>
    <%#= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    <%#= current_user %>
  </div>
</div>
