.link{
  color: red;
  text-decoration: none;

}
.search-bar{
  margin: 40px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.action-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  margin: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  a {
    text-decoration: none;
    color: black;
  }
  .recipes-card {
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    padding: 10px;
  }
  .ingredient-card {
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    padding: 10px;
    min-width: 50vw;
    flex: 1 1 300px; /* Adjust as needed */
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;

  }
  h3 {
    font-size: 18px;
  }
  i {
    font-size: 18px;
  }
  link{
    display: flex;
  }
}
.container {
  margin-bottom: 100px;
  max-width: 1200px;
  // margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .ingredient-card {
    flex: 1 1 100%; /* Full width on smaller screens */
  }
}
.search-field{
  opacity: 0.6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}
.submit-field{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}
.log_out{
  margin-left: -10px;
  text-decoration: none;
}
.profil_image{
  img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }

}
