.img_show{
  display: flex;
  justify-content: center;
  img {
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 100%;
  }
}
.recipe-details {
  text-align: center;
  margin-top: 30px;
  .recipe-info {
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    h2 {
      margin-bottom: 15px;
    }
    a {
      text-decoration: none;
      color: #A6CF98;
    }
    i {
      font-size: 30px;
      color: #A6CF98;
      margin-bottom: 15px;
    }
  }
  .list-items{
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    ul{
      list-style: none;
    }
    h2 {
      margin-bottom: 15px;
    }
    i{
      font-size: 30px;
      color: #A6CF98;
      margin-bottom: 15px;
    }

  }
  .instructions_info{
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    h2 {
      margin-bottom: 15px;
    }
    i{
      font-size: 30px;
      color: #A6CF98;
      margin-bottom: 15px;

    }

  }

}
.corbeille {
  position: absolute;
  right: 16px;
  top: 13px;
  width: 31px;
  background-color: white;
  padding: 5px;
}
